body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;

}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    background-color: #E7E9FC;
    padding: 24px 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-accent {
    color: #4D5AE5;
}

.link {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.address {
    color: #434455;
    text-decoration: none;
    font-style:normal;
}

.address:hover,
.address:focus {
    color: #404BBF;
}

.hero-screene {
    background-color: #2E2F42;
    min-height: 600px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav ul {
    display: flex;
    gap: 40px;
}

.logo {
    margin-right: 76px;
}

.contacts {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.hero-screene .container {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
 
.hero-title {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 495px;
    margin-bottom: 48px;
}

.hero-button {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color:#2E2F42;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.section-features {
    padding:120px 0;
}

.section-features .list {
    display: flex;
    gap: 24px;
}

.section-features .list > li {
    width: calc((100% - 72px) / 4);
}

.section-features .list h3 {
    margin-bottom: 8px;
}

.features-title {
    text-align: left;
    position: absolute;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    margin-bottom: 72px;
}

.section-team .list {
    display: flex;
    gap: 24px;
}

.person-card {
    background-color: #ffffff;
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.person-info {
    text-align: center;
    padding: 32px 0;
}

.person-info h3 {
    margin-bottom: 8px;
}

.section-portfolio {
    padding: 120px 0;

}

.section-portfolio .list {
    display:flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-title {
    margin-bottom: 72px;
    text-align: center;
}

.section-portfolio .list > li {
    width: calc((100% - 48px) /3);
    background-color: #ffffff;
    border: 1px solid #e7e9fc;
}

.section-portfolio .list > li h3 {
    margin-bottom: 8px;
    margin-top:32px;
    padding: 0 16px;
}

.section-portfolio .list > li p {
    padding: 0 16px 32px;
    margin: 0;
}

.page-footer {
    background-color: #2E2F42;
    padding:100px 0;
}

.footer-text {
    color:#F4F4FD;
    max-width: 265px;
    margin:0;
}




